@using Nhom8.Areas.Hotel.Models
@using Nhom8.Data

@{
    ViewData["Title"] = "Revenue";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var revenueData = ViewBag.RevenueData as List<RevenuePerDay>;
    var years = ViewBag.Years as List<int>;
}

@model List<DatPhong>

<div class="content" style="position: sticky;">
    <h1>Biểu đồ doanh thu theo từng tháng trong năm</h1>
    <label>chọn năm</label>
    <select id="yearSelect" onchange="updateYear()">
        @if (years != null && years.Any())
        {
            @foreach (var year in years)
            {
                <option value="@year">@year</option>
            }
        }
    </select>
    <canvas id="myChart" style="width:100%"></canvas>

    <script>
        const xValues = [
        @for (int i = 1; i <= 12; i++)
        {
            @($"{i}, ")
        }
                ];

        const yValues = {
        @foreach (var year in years)
        {
            @: @year: [
            @for (int month = 1; month <= 12; month++)
            {
                var monthlyRevenue = revenueData.FirstOrDefault(p => p.Year == year && p.Month == month)?.Revenue ?? 0;
                @: @monthlyRevenue
                @if (month < 12)
                {
                    @:,
                }
            }
            @: ],
        }
                };

        let selectedYear = @years.FirstOrDefault();
        let chart;

        function renderChart() {
            chart = new Chart("myChart", {
                type: "line",
                data: {
                    labels: xValues,
                    datasets: [{
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: yValues[selectedYear]
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Doanh thu theo từng tháng năm " + selectedYear
                    }
                }
            });
        }

        function updateYear() {
            selectedYear = document.getElementById('yearSelect').value;
            updateChart();
        }

        function updateChart() {
            chart.data.datasets[0].data = yValues[selectedYear];
            chart.options.title.text = "Doanh thu theo từng tháng năm " + selectedYear;
            chart.update();
        }

        window.onload = function () {
            renderChart();
        };
    </script>
</div>
