@{
    ViewData["Title"] = "Setroom";
    Layout = "~/views/shared/_LayoutCustomer.cshtml";
}

<div class="container" style="padding-left: 100px; padding-right: 100px; padding-top: 100px;">
    <div class="title">
        <h4>Đặt phòng của bạn</h4>
        <p>Hãy đảm bảo tất cả thông tin chi tiết trên trang này đã chính xác trước khi tiến hành thanh toán.</p>
    </div>

    <div class="content-setroom">
        <div class="content-left">
            <form asp-action="Reservation1" asp-controller="Reservation1">
                <div class="info left-design">
                    <h4>Thông tin liên hệ</h4>
                    <div class="mb-3">
                        <label for="name" class="form-label">Họ và tên</label>
                        <input type="text" class="form-control" id="name">
                        <p>Như trong Hộ chiếu/CMND/CCCD (không có danh xưng/ký tự đặc biệt)</p>
                    </div>
                    <div class="mail-sdt">
                        <div class="mb-3" style="width:60% ;">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email">
                            <p>Chúng tôi sẽ gửi vé đặt phòng tới email này.</p>
                        </div>

                        <div class="mb-3 form-check" style="width: 40%;">
                            <label for="sdt" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control" id="sdt">
                        </div>
                    </div>
                    <div class="checked">
                        <div class="">
                            <div class="col-12">
                                <div class="form-check">
                                    <input type="radio" id="user-gues" name="user" value="kháchLưuTrú" class="form-check-input">
                                    <label class="form-check-label" for="kháchLưuTrú">Tôi là khách lưu trú</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" id="no-user-gues" name="user" value="kháchThamQuan" class="form-check-input">
                                    <label class="form-check-label" for="kháchThamQuan">Tôi đang đặt cho người khác</label>
                                </div>

                                <div id="formNhapTen" class="mt-3 d-none">
                                    <div class="mb-3">
                                        <label for="tenKhach" class="form-label">Tên khách lưu trú:</label>
                                        <input type="text" class="form-control" id="tenKhach" placeholder="Nhập tên khách lưu trú">
                                        <label for="tenKhach" class="form-label">Nhập tên khách lưu trú</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="request left-design">
                    <h4>Bạn có yêu cầu nào không?</h4>
                    <textarea name="request" id="request" rows="4" style="width: 100%; height: auto;"></textarea>
                </div>

                <div class="payment left-design">
                    <h4>Lựa chọn thanh toán linh hoạt</h4>
                    <div class="pay-counter form-check">
                        <input type="radio" id="pay-counter" name="pay-counter" value="" class="form-check-input">
                        <label class="form-check-label" for="pay-counter">Thanh toán tại khách sạn</label>
                    </div>
                    <div class="pay-now form-check">
                        <input type="radio" id="pay-now" name="pay-now" value="" class="form-check-input">
                        <label class="form-check-label" for="pay-now">Thanh toán ngay</label>
                    </div>
                </div>

                <div class="price-detail left-design">
                    <div class="price-detail-box">
                        <h4>Chi tiết giá</h4>
                        <div class="d-flex justify-content-between">
                            <span>Giá phòng</span>
                            <span>4.306.242 VND</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span>Thuế và phí</span>
                            <span>186.923 VND</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between" style="padding-bottom: 20px;">
                            <span class="total-price">Tổng giá</span>
                            <span class="total-price">4.493.165 VND</span>
                        </div>
                        <input class="btn btn-primary w-100" name="payment" type="submit" value="Thanh toán VnPay" />
                        <p class="text-muted mt-3">
                            Bằng việc tiếp tục thanh toán, bạn đã đồng ý với <a href="#">Điều khoản & Điều kiện</a> cũng như <a href="#">Chính sách quyền riêng tư</a> của LambiengTravel.
                        </p>
                    </div>
                </div>
            </form>

        </div>

        <div class="content-right">
            <div class="card">
                <div class="card-body" style="background-color: rgb(247 249 250);">
                    <h5 class="card-title">TN Central Hotell</h5>
                    <h6 class="card-subtitle mb-2 text-muted">The Malibu Hotel</h6>
                    <div class="rating">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                    </div>
                    <p class="card-text">
                        <i class="bi bi-geo-alt"></i> Xếp hạng cao trong danh mục Sạch sẽ
                    </p>
                    <img src="https://t3.ftcdn.net/jpg/00/29/13/38/240_F_29133877_bfA2n7cWV53fto2BomyZ6pyRujJTBwjd.jpg" class="card-img-top" alt="The Malibu Hotel">
                    <div class="row text-center my-3">
                        <div class="col">
                            <h6>Nhận phòng</h6>
                            <p>Thứ 2, 17-06-2024<br>Từ 15:00</p>
                        </div>
                        <div class="col">
                            <h6>3 đêm</h6>
                        </div>
                        <div class="col">
                            <h6>Trả phòng</h6>
                            <p>Thứ 5, 20-Jun-2024<br>Trước 12:00</p>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <p>(1x) Deluxe Double</p>
                        <p class="text-danger">Chỉ còn 3 phòng</p>
                        <p><i class="bi bi-people"></i> 2 khách</p>
                        <p><i class="bi bi-bed"></i> 1 Giường Cỡ Queen</p>
                        <p><i class="bi bi-cup"></i> Breakfast included for 1 pax</p>
                        <p><i class="bi bi-clock"></i> Chọn thời điểm bạn muốn thanh toán</p>
                        <p><i class="bi bi-wifi"></i> Wifi</p>
                        <p><i class="bi bi-car-front"></i> Parking</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        @* <span class="old-price">3.027.500 VND</span> *@
                        <span class="total-price">4.493.165 VND</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

