@{
    ViewData["Title"] = "Xác nhận Đặt lại Mật khẩu";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <p>Mật khẩu của bạn đã được đặt lại thành công.</p>
    <a class="btn btn-primary" href="@Url.Action("Login", "Authen")">Đăng nhập</a>
</div>
