@using Nhom8.Data
@{
    ViewData["Title"] = "CustomerRating";
    Layout = "~/Areas/Hotel/Views/Shared/_LayoutHotel.cshtml";
}
@model IEnumerable<Nhom8.Data.Comment>
<div class="HotelBody">
    <div class="BodyItem">
        <h2>Đánh giá của khách hàng</h2>
        @foreach(var comment in Model)
        {
            <div class="customer-review">
                <div class="review-header">
                    <span class="customer-name">@(comment.User.TenKh)</span>
                    <span class="review-date">@comment.TimeCm</span>
                </div>
                <div class="review-body">
                    <p>@comment.CmContent</p>
                </div>
                <div class="review-rating">
                    @for(int i = 1; i<=5; i++)
                    {
                        if(i <= comment.Star)
                        {
                            
                            <i class="fa-solid fa-star"></i>
                        }
                        else
                        if (comment.Star.Equals(i-0.5))
                        {
                            <i class="fa-solid fa-star-half-stroke"></i>
                        }
                        else
                        {
                            <i class="fa-regular fa-star"></i>
                        }


                    }
                </div>
            </div>
        }
        
        
    </div>
</div>