
@{
    ViewData["Title"] = "Revenue";
    Layout = "~/Areas/Hotel/Views/Shared/_LayoutHotel.cshtml";
}

<div class="HotelBody">
    <div class="BodyItem">
        <h2>Tổng quan doanh thu</h2>
        <h3>Báo cáo tổng doanh thu hàng tháng</h3>
        <div class="divFinanceInform">
            <ul role="tablist" class="bui-tab__nav">
                <div>
                <li role="tab" class="fin-overview-statistics-tabs__item bui-tab__item">
                    <button class="bui-tab__link bui-tab__link--selected">
                        <span>Tháng 1</span><br>
                        <span>VND 0</span>
                    </button>
                </li>
                </div>
                <div>
                    <li role="tab" class="fin-overview-statistics-tabs__item bui-tab__item">
                        <button class="bui-tab__link ">
                            <span>Tháng 2</span><br>
                            <span>VND 0</span>
                        </button>
                    </li>
                </div>
            </ul>
            <div class="clearfix"></div>
            <canvas id="myChart" style="width:100%;max-width: 100%"></canvas>
        </div>
        <div>

        </div>
    </div>
</div>



<script>
    const xValues = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"];
    const yValues = [55, 49, 44, 24, 15];


    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: "blue",
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Doanh thu các ngày trong tháng 1",

            }


        }
    });
</script>